#banner {
    background-color: #404040;
    min-width: 960px;
    /*padding: 0px;*/
}

#banner hr {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #222222;
    margin-top: 3px;
    margin-bottom: 3px;
}

.banner {
    background-color: whitesmoke;
}

.banner legend {
    color: #777777;
    margin-bottom: 10px;
    font-weight: 100;
    letter-spacing: 1px;
}

.under-banner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.animation-container {
    /*display: none;*/
}

legend i {
    padding: 10px;
}