.bandeau {
    margin-top: 41px;
    padding-bottom: 0px;
    background-color: #303030;
}

.bandeau hr {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #222222;
    margin: 3px;
}

#carousel {
    padding: 15px;
}

#carousel-images {
    width: 960px;
    height: 118.7px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0px;
    border: 2px solid #282828;
}

#carousel-images img {
    width: 192px;
    height: 118.7px;
    -webkit-filter: grayscale(100%);
}

#carousel-images img:hover {
    -webkit-filter: grayscale(0%);
}

#carousel i {
    font-size: 6em;
    margin: 15px;
    color: #282828;
}

#carousel-move-left {
    float: left;
    margin-left: 0px;
}

#carousel-move-right {
    float: right;
}

#carousel i:hover {
    color: #222222;
}
