.bandeau {
    margin-top: 40px;
    padding-bottom: 0px;
    background-color: #303030;
}

.bandeau hr {
    border-top: 1px solid #282828;
    border-bottom: 1px solid #222222;
    margin: 3px;
}

#carousel {
    padding: 12px;
}

#carousel-images {
    width: 960px;
    height: 129px;
    display: inline-block;
    white-space: nowrap;
    font-size: 0px;
    background-color: white;
    overflow: hidden;
    border: 10px solid #282828;
    border-radius: 10px;
}

.carousel-image {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 192px;
    height: 129px;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
}

.carousel-image img {
    max-width: 192px;
    max-height: 119px;
    -webkit-filter: grayscale(100%);
}

#carousel .move {
    width: 40px;
    height: 40px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: white;
    text-align: center;
    background: #222222;
    border: 3px solid white;
    border-radius: 23px;
    opacity: 0.5;
    position: absolute;
    margin-top: 55px;
    -webkit-user-select: none;
}

#carousel .move:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.75;
    outline: 0;
}

/* ??? Need to review */
#carousel-move-left {
    margin-left: -60px;
}

#carousel-move-right {
    margin-left: 15px;
}

.carousel-caption {
    padding: 8px;
    z-index: 1;
}

.carousel-caption h4 {
    font-size: 15px;
}