.featured-title {
    cursor: pointer;
    color: whitesmoke;
    margin-bottom: 0px;
    font-weight: 300;
}

.featured-website {
    cursor: pointer;
    color: whitesmoke;
    margin-top: -5px;
    margin-bottom: 20px;
}

.featured-website:hover {
    text-decoration: underline;
}

.featured-description {
    color: whitesmoke;
}

.featured-video {
    border: 1px solid #282828;
}

#featured-container {
    width: 960px;
    height: 359px;
    overflow: hidden;
}

.featured-image-container {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 460px;
    height: 266px;
    vertical-align: top;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.featured-image {
    max-width: 460px;
    max-height: 266px; /* 259 + 7 */
}