html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px;
}

#push {
    height: 40px;
}

#footer {
    text-align: center;
    background-color: whitesmoke;
    height: 60px;
    margin-top: -60px;
}

.footer-links {
    margin: 20px;
}

.footer-links span {
    color: #777777;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}
