td, th {
  text-align: center !important;
}

table {
    margin-bottom: 0px !important;
}

.container.focus {
    margin-top: 15px;
}

.focus img {
    height: 285px;
}

.centered {
    margin: 0 auto;
    display: table;
}

.nav li {
    cursor: pointer;
}