td, th {
  text-align: center !important;
}

table {
    margin-bottom: 0px !important;
}

.container.focus {
    margin-top: 15px;
}

.focus img {
    height: 285px;
}

.center {
    margin: 0 auto;
    display: table;
}

.centered {
    margin: 0 auto;
    display: table;
}

.nav li {
    cursor: pointer;
}

form {
    margin-bottom: 0px;
}

.social-share {
    -webkit-user-select: none;
    cursor: pointer;
}

.share-buttons {
    margin-top: 150px;
}