td, th {
  text-align: center !important;
}

table {
    margin-bottom: 0px !important;
}

.center {
    margin: 0 auto;
    display: table;
}

.centered {
    margin: 0 auto;
    display: table;
}

.nav li {
    cursor: pointer;
}

form {
    margin-bottom: 0px;
}