.bar-label {
    margin-bottom: 4px;
    color: whitesmoke;
}

.progress {
    height: 8px;
    margin-bottom: 0px;
}

.bar-container .span3{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 30px;
}
